.profile-logo {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hidden {
    display: none
}

.positive {
    color: forestgreen;
    font-weight: bold;
}

.negative {
    color: red;
    font-weight: bold;
}

.company-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.search-logo {
    width: 32px;
    height: 32px;
    object-fit: contain;
}